In [77]:
import pandas as pd 
import numpy as np
!pip install joblib
import joblib

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (1.2.0)

In [52]:
df = pd.read_csv('titanic.csv')
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [53]:
df.drop(['PassengerId','Name','SibSp','Parch','Ticket','Cabin','Embarked'],axis='columns',inplace=True)

In [54]:
df.head()

   Survived  Pclass     Sex   Age     Fare
0         0       3    male  22.0   7.2500
1         1       1  female  38.0  71.2833
2         1       3  female  26.0   7.9250
3         1       1  female  35.0  53.1000
4         0       3    male  35.0   8.0500

In [55]:
input = df.drop('Survived',axis='columns')
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [56]:
input.Age.mean()

29.69911764705882

In [57]:
input.Age = input.Age.fillna(input.Age.mean())

In [58]:
input.head()

   Pclass     Sex   Age     Fare
0       3    male  22.0   7.2500
1       1  female  38.0  71.2833
2       3  female  26.0   7.9250
3       1  female  35.0  53.1000
4       3    male  35.0   8.0500

In [59]:
input.Sex = input.Sex.map({'male':1,'female':0})

In [60]:
input.head()

   Pclass  Sex   Age     Fare
0       3    1  22.0   7.2500
1       1    0  38.0  71.2833
2       3    0  26.0   7.9250
3       1    0  35.0  53.1000
4       3    1  35.0   8.0500

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
X_train,x_test,Y_train,y_test = train_test_split(input,df.Survived,train_size=0.3)

In [63]:
x_test

     Pclass  Sex        Age      Fare
608       2    0  22.000000   41.5792
118       1    1  24.000000  247.5208
668       3    1  43.000000    8.0500
725       3    1  20.000000    8.6625
878       3    1  29.699118    7.8958
..      ...  ...        ...       ...
553       3    1  22.000000    7.2250
262       1    1  52.000000   79.6500
759       1    0  33.000000   86.5000
146       3    1  27.000000    7.7958
8         3    0  27.000000   11.1333

[624 rows x 4 columns]

In [64]:
from sklearn import tree

In [65]:
model = tree.DecisionTreeClassifier()

In [66]:
model.fit(X_train,Y_train)

DecisionTreeClassifier()

In [67]:
model.score(x_test,y_test)

0.7483974358974359

In [71]:
joblib.dump(model,'trained_model')

['trained_model']

In [72]:
model = joblib.load('trained_model')

In [76]:
model.score(x_test,y_test)

0.7483974358974359